* {
  box-sizing: border-box
}

body {
  background-color: thistle;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

main {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

nav {
  margin: 1rem; 
  text-align:left;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contact-list {
  border: solid;
  align-self: stretch;
  flex: 1;
}

.chat-window {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin: 0 auto;
}

.chat-window >  .input {
  width: 100%;
}

.messages {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  background-color: aliceblue;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  align-items:baseline;
}

.form label {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.form * {
  margin: 0.5rem auto;
  display: block;
}

.form_section {

}

.messageForm {
  width: 100%;
  margin-top: 1rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sendBtn {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  height: 100%;
  width: 50px;
  background-color: grey;
  border: none;
}

.sendBtn:hover {
  cursor: pointer;

}
